@import '_global';

$card-height: 250px;
$card-width: 150px;

@function atCardCenter($pos){
    @return calc($pos - ($card-width/2));
}
@function minusCardWidth($pos){
    @return calc($pos - $card-width);
}
@function plusCardWidth($pos){
    @return calc($pos + $card-width);
}
@function plusHalfCardWidth($pos){
    @return calc($pos + ($card-width/2));
}
@function minusHalfCardWidth($pos){
    @return calc($pos - ($card-width/2));
}


%debugCenterLines{
    &::after{
        position: absolute;
        left: 50%;
        height: 100%;
        width: 1px;
        background-color: rgba(128, 0, 128, 0.3);
        transform: translateX(-50%);
        content: "";
    }
    &::before{
        position: absolute;
        top: 50%;
        height: 1px;
        width: 100%;
        background-color: rgba(128, 0, 128, 0.3);
        transform: translateY(-50%);
        content: "";
    }
}

.board-wrapper{
    position: relative;
    background-color: green;
    height: 100vh;
    width: 100%;

    @extend %debugCenterLines;    
}


.card{
    position: absolute;
    height: $card-height;
    width: $card-width;
    background-color: gray;
    border-radius: 10px;
    transition: all ease-in-out .5s;
    transition-property: transform, left, bottom;
}

[data-card-state="discardPile"]{
    bottom: 50%;
    left: minusCardWidth(50%);
}

[data-card-state="drawCardPile"]{
    bottom: 50%;
    left: 50%;
}

[data-card-state="playerHand"]{
    bottom: 10vh;
    left: calc(50% - ($card-width/2));
}