<div class='board-wrapper'>
    <div class='hand-1'></div>
    <div class='hand-2'></div>
    <div class='hand-3'></div>
    <div class='hand-player'></div>
    <div class="deck-wrapper">
        <div class='draw-deck'></div>
        <div class='discard-deck'></div>
    </div>
</div>