@import "_global";

p {
    max-width: 75ch;
}

.header-wrapper {
    padding: 15px 15%;
    margin-bottom: 15px;

    border-bottom: 1px solid black;
    .nav-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;

        font-family: var(--font-header);
        font-size: var(--fs-standard-large);
    }

    .user-avatar {
        width: 25px;
    }
}

.hero-description-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 50px;
    .hero-img {
        object-fit: contain;
        transform: rotate(90deg);
        height: 350px;
    }
    h1{
        font-family: var(--font-header);
        font-size: var(--fs-hero);
        font-weight: 400;
        text-align: center;
    }
}

.hero-cta-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:15px;
    text-align: center;
    margin-bottom: 50px;
    .cta-btn{
        display: inline-block;
        width: fit-content;
        padding: 10px 25px;
        border: 1px solid black;

        transition: all .15s ease-in-out;
        &:hover{
            transform: scale(1.08);
        }
        &:active{
            transform: scale(.98);
        }
    }
}

.footer-wrapper{
    padding: 15px 15%;

    border-top: solid 1px black;
}

.footer-box-wrapper {
    display: flex;
    gap: 25px;
    align-items: center;
    justify-content: center;

    .footer-box {
        height: 25px;
        width: 25px;
        background-color: black;
    }
}
