@import '_global';

.landing-wrapper {
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    min-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.header-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    padding-top: clamp(15px, 5vh, 50px);
    padding-right: clamp(15px, 10%, 50px);
}

.nav {
    display: flex;
    gap: 25px;

    .about,
    .log {
        position: relative;


        &::before{
            position: absolute;
            height: 2px;
            width: 100%;
            background-color: var(--c-uno-blue);
            bottom: 0;
            left: 0;
            content: "";

            transform-origin: left;
            
            transition: all .2s ease-in-out;

            transform: translateY(125%) scaleX(0);
        }

        &:hover{
            cursor: pointer;
            &::before{
                transform: translateY(125%) scaleX(1);
            }
        }
    }
    .register {
        position: relative;
        &::before {
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            background-color: var(--c-uno-red);

            content: '';
            z-index: -1;
            transform: scaleX(0);

            transform-origin: left;
            transition: all 0.2s ease-in-out;
        }

        padding: 10px 25px;
        border: 2px solid var(--c-uno-red);
        border-radius: 5px;

        transition: all 0.2s ease-in-out;

        &:hover {
            color: white;
            cursor: pointer;
            &::before {
                transform: scaleX(1);
            }
        }
        &:active{
            border-color: var(--c-uno-blue);
            &::before{
                background-color: var(--c-uno-blue);
            }
        }
    }
}

.hero-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 25px;

    .hero-logo {
        width: clamp(300px, 35vw, 350px);
    }

    a {
        display: block;
        width: fit-content;
        background-color: var(--c-uno-red);
        box-shadow: 0 6px var(--c-uno-red-shadow);

        color: white;
        padding: 10px 25px;
        border-radius: 10px;

        font-family: var(--font-header);
        font-size: var(--fs-heading);

        transition: all 0.15s ease-in-out;

        &:hover {
            cursor: pointer;
            transform: translateY(3px);
            box-shadow: 0 3px var(--c-uno-red-shadow);
        }
        &:active {
            transform: translateY(6px);
            box-shadow: none;
        }
    }
}

.blue-circle,
.green-circle,
.yellow-circle {
    position: absolute;
    height: 45vw;
    width: 45vw;
    max-height: 550px;
    max-width: 550px;
    border-radius: 50%;
}

.blue-circle {
    bottom: 0;
    left: 0;
    transform: translate(-50%, 50%);
    background-color: var(--c-uno-blue);
}

.green-circle {
    bottom: 0;
    right: 0;
    transform: translate(50%, 50%);
    background-color: var(--c-uno-green);
}

.yellow-circle {
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    background-color: var(--c-uno-red);
}
