@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Open+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --fs-standard-small: 0.8rem;
  --fs-standard: 1rem;
  --fs-standard-large: 1.25rem;
  --fs-heading-small: 1.536rem;
  --fs-heading: 1.935rem;
  --fs-heading-large: 2.441rem;
  --fs-hero-small: 3.052rem;
  --fs-hero: 3.815rem;
  --fs-hero-large: 4.768rem;
  --font-header: "Inter", sans-serif;
  --font-body: "Open Sans", sans-serif;
  --c-uno-red:#ed1c23;
  --c-uno-red-shadow: #ab3c3c;
  --c-uno-blue: #006cb9;
  --c-uno-yellow: #f8da27;
  --c-uno-green: #00a539;
}

body {
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-header);
}

p {
  font-family: var(--font-body);
}

a {
  color: initial;
  text-decoration: none;
}

a:visited {
  color: initial;
}

ul {
  list-style-type: none;
}

.arcade-btn {
  border: none;
  display: block;
  width: fit-content;
  background-color: var(--c-uno-red);
  box-shadow: 0 6px var(--c-uno-red-shadow);
  color: white;
  padding: 10px 25px;
  border-radius: 10px;
  font-family: var(--font-header);
  font-size: var(--fs-heading);
  transition: all 0.15s ease-in-out;
}

.arcade-btn:hover {
  cursor: pointer;
  transform: translateY(3px);
  box-shadow: 0 3px var(--c-uno-red-shadow);
}

.arcade-btn:active {
  transform: translateY(6px);
  box-shadow: none;
}

/*
    total width: 3362
    total height: 2882
    original card height: 360px
    original card width: 240px

    14 columns
    8 rows ( 4 unique rows)
*/
.card .front, .card .back {
  background-image: url("/public/assets/uno-cards.svg");
  /*width * scale factor*/
  background-size: 2241.3333333333px;
}

.card .back {
  background-position: 100% 100%;
}

.all-wild {
  background-position: 100% 0%;
}

.all-draw-four {
  background-position: 100% 100%;
}

.red-0 {
  background-position: 0px 0px;
}

.yellow-0 {
  background-position: 0px -240px;
}

.green-0 {
  background-position: 0px -480px;
}

.blue-0 {
  background-position: 0px -720px;
}

.red-1 {
  background-position: -160px 0px;
}

.yellow-1 {
  background-position: -160px -240px;
}

.green-1 {
  background-position: -160px -480px;
}

.blue-1 {
  background-position: -160px -720px;
}

.red-2 {
  background-position: -320px 0px;
}

.yellow-2 {
  background-position: -320px -240px;
}

.green-2 {
  background-position: -320px -480px;
}

.blue-2 {
  background-position: -320px -720px;
}

.red-3 {
  background-position: -480px 0px;
}

.yellow-3 {
  background-position: -480px -240px;
}

.green-3 {
  background-position: -480px -480px;
}

.blue-3 {
  background-position: -480px -720px;
}

.red-4 {
  background-position: -640px 0px;
}

.yellow-4 {
  background-position: -640px -240px;
}

.green-4 {
  background-position: -640px -480px;
}

.blue-4 {
  background-position: -640px -720px;
}

.red-5 {
  background-position: -800px 0px;
}

.yellow-5 {
  background-position: -800px -240px;
}

.green-5 {
  background-position: -800px -480px;
}

.blue-5 {
  background-position: -800px -720px;
}

.red-6 {
  background-position: -960px 0px;
}

.yellow-6 {
  background-position: -960px -240px;
}

.green-6 {
  background-position: -960px -480px;
}

.blue-6 {
  background-position: -960px -720px;
}

.red-7 {
  background-position: -1120px 0px;
}

.yellow-7 {
  background-position: -1120px -240px;
}

.green-7 {
  background-position: -1120px -480px;
}

.blue-7 {
  background-position: -1120px -720px;
}

.red-8 {
  background-position: -1280px 0px;
}

.yellow-8 {
  background-position: -1280px -240px;
}

.green-8 {
  background-position: -1280px -480px;
}

.blue-8 {
  background-position: -1280px -720px;
}

.red-9 {
  background-position: -1440px 0px;
}

.yellow-9 {
  background-position: -1440px -240px;
}

.green-9 {
  background-position: -1440px -480px;
}

.blue-9 {
  background-position: -1440px -720px;
}

.red-skip {
  background-position: -1600px 0px;
}

.yellow-skip {
  background-position: -1600px -240px;
}

.green-skip {
  background-position: -1600px -480px;
}

.blue-skip {
  background-position: -1600px -720px;
}

.red-reverse {
  background-position: -1760px 0px;
}

.yellow-reverse {
  background-position: -1760px -240px;
}

.green-reverse {
  background-position: -1760px -480px;
}

.blue-reverse {
  background-position: -1760px -720px;
}

.red-drawtwo {
  background-position: -1920px 0px;
}

.yellow-drawtwo {
  background-position: -1920px -240px;
}

.green-drawtwo {
  background-position: -1920px -480px;
}

.blue-drawtwo {
  background-position: -1920px -720px;
}

/*
*   .(red/yellow/green/blue)-(1/2/3/4/5/6/7/8/9)
*   .(red/yellow/green/blue)-block
*   .(red/yellow/green/blue)-reverse
*   .(red/yellow/green/blue)-draw-two
*/
.messageBoxWrapper {
  position: absolute;
  left: 100%;
  transform: translateX(-100%);
  width: 350px;
  background-color: rgba(0, 0, 0, 0.301);
}

.messageFeed {
  padding: 10px;
  height: 200px;
  overflow: auto;
}
.messageFeed p {
  display: block;
  font-size: var(--fs-standard-large);
  font-family: var(--font-header);
}

.messageForm {
  display: flex;
}
.messageForm textarea {
  flex-grow: 1;
  height: 60px;
  resize: none;
  background: none;
  border: none;
  border-top: 1px solid rgba(243, 243, 243, 0.301);
  font-size: var(--fs-standard-large);
  font-family: var(--font-header);
  padding: 5px 10px;
}
.messageForm textarea:focus {
  outline: none;
}
.messageForm button {
  padding: 0px 15px;
  display: block;
  background: none;
  border: none;
  border-top: 1px solid rgba(243, 243, 243, 0.301);
  border-left: 1px solid rgba(243, 243, 243, 0.301);
}

[data-channel=public] {
  color: rgb(236, 255, 184);
}

[data-channel=game] {
  color: rgb(122, 206, 255);
}

.users-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 250px;
  background-color: rgba(0, 0, 0, 0.301);
}
.users-wrapper div {
  position: relative;
  color: white;
}
.users-wrapper p {
  position: relative;
  padding: 5px;
  font-family: var(--font-header);
  font-size: var(--fs-standard-large);
  text-align: center;
}
.users-wrapper [data-current=false]::before, .users-wrapper [data-current=true]::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(175, 175, 175);
  transform-origin: left;
  transition: all 0.5s ease-in-out;
}
.users-wrapper [data-current=false]::before {
  transform: scaleX(0);
}
.users-wrapper [data-current=true]::before {
  transform: scaleX(1);
}
.users-wrapper [data-current=true] {
  color: black;
}

/*
    total width: 3362
    total height: 2882
    original card height: 360px
    original card width: 240px
*/
[data-card-state=opponentHand], [data-card-state=drawCardPile], [data-card-state=lastCardInDrawPile] {
  transform: rotateY(180deg);
}

.board-wrapper {
  position: relative;
  overflow: hidden;
  background-color: green;
  height: 100vh;
  width: 100%;
  /*@extend %debugCenterLines;*/
}

.card {
  position: absolute;
  height: 240px;
  width: 160px;
  border-radius: 28px;
  transition: all ease-out 0.5s;
  transition-property: transform, left, bottom;
  perspective: 1000px;
  transform-style: preserve-3d;
}
.card .front, .card .back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 28px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: inherit;
}
.card .front {
  background-color: rgb(175, 175, 175);
}
.card .back {
  background-color: rgb(39, 39, 39);
  transform: rotateY(180deg);
}

[data-card-state=discardPile], [data-card-state=topOfDiscardPile] {
  bottom: 50%;
  left: calc(50% - 160px);
}

[data-card-state=topOfDiscardPile] {
  z-index: 10;
}

[data-card-state=drawCardPile]:hover, [data-card-state=lastCardInDrawPile]:hover, [data-card-state=playerHand] {
  cursor: pointer;
}

[data-card-state=drawCardPile], [data-card-state=lastCardInDrawPile] {
  bottom: 50%;
  left: 50%;
}

[data-card-state=playerHand] {
  bottom: 10vh;
  left: calc(50% - 80px);
}

[data-card-state=opponentHand] {
  bottom: 110vh;
  left: calc(50% - 80px);
}

[data-moving="1"] {
  z-index: 100;
}
