@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Open+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --fs-standard-small: 0.8rem;
  --fs-standard: 1rem;
  --fs-standard-large: 1.25rem;
  --fs-heading-small: 1.536rem;
  --fs-heading: 1.935rem;
  --fs-heading-large: 2.441rem;
  --fs-hero-small: 3.052rem;
  --fs-hero: 3.815rem;
  --fs-hero-large: 4.768rem;
  --font-header: "Inter", sans-serif;
  --font-body: "Open Sans", sans-serif;
  --c-uno-red:#ed1c23;
  --c-uno-red-shadow: #ab3c3c;
  --c-uno-blue: #006cb9;
  --c-uno-yellow: #f8da27;
  --c-uno-green: #00a539;
}

body {
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-header);
}

p {
  font-family: var(--font-body);
}

a {
  color: initial;
  text-decoration: none;
}

a:visited {
  color: initial;
}

ul {
  list-style-type: none;
}

.arcade-btn {
  border: none;
  display: block;
  width: fit-content;
  background-color: var(--c-uno-red);
  box-shadow: 0 6px var(--c-uno-red-shadow);
  color: white;
  padding: 10px 25px;
  border-radius: 10px;
  font-family: var(--font-header);
  font-size: var(--fs-heading);
  transition: all 0.15s ease-in-out;
}

.arcade-btn:hover {
  cursor: pointer;
  transform: translateY(3px);
  box-shadow: 0 3px var(--c-uno-red-shadow);
}

.arcade-btn:active {
  transform: translateY(6px);
  box-shadow: none;
}

.board-wrapper::before, .board-wrapper::after {
  pointer-events: none;
}
.board-wrapper::after {
  position: absolute;
  left: 50%;
  height: 100%;
  width: 1px;
  background-color: rgba(128, 0, 128, 0.3);
  transform: translateX(-50%);
  content: "";
}
.board-wrapper::before {
  position: absolute;
  top: 50%;
  height: 1px;
  width: 100%;
  background-color: rgba(128, 0, 128, 0.3);
  transform: translateY(-50%);
  content: "";
}

[data-card-state=drawCardPile] {
  transform: rotateY(180deg);
}

.board-wrapper {
  position: relative;
  overflow: hidden;
  background-color: green;
  height: 100vh;
  width: 100%;
}

.card {
  position: absolute;
  height: 250px;
  width: 150px;
  border-radius: 10px;
  transition: all ease-in-out 0.5s;
  transition-property: transform, left, bottom;
  perspective: 1000px;
  transform-style: preserve-3d;
}
.card:focus {
  z-index: 9999;
}
.card .front, .card .back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.card .front {
  background-color: rgb(175, 175, 175);
}
.card .back {
  background-color: rgb(39, 39, 39);
  transform: rotateY(180deg);
}

[data-card-state=discardPile], [data-card-state=topOfDiscardPile] {
  bottom: 50%;
  left: calc(50% - 150px);
}

[data-card-state=topOfDiscardPile] {
  z-index: 999;
}

[data-card-state=drawCardPile] {
  bottom: 50%;
  left: 50%;
}

[data-card-state=playerHand] {
  bottom: 10vh;
  left: calc(50% - 75px);
}

[data-card-state=opponentHand] {
  bottom: 110vh;
  left: calc(50% - 75px);
  transform: rotate(-180deg);
}
