@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Open+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --fs-standard-small: 0.8rem;
  --fs-standard: 1rem;
  --fs-standard-large: 1.25rem;
  --fs-heading-small: 1.536rem;
  --fs-heading: 1.935rem;
  --fs-heading-large: 2.441rem;
  --fs-hero-small: 3.052rem;
  --fs-hero: 3.815rem;
  --fs-hero-large: 4.768rem;
  --font-header: "Inter", sans-serif;
  --font-body: "Open Sans", sans-serif;
}

body {
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-header);
}

p {
  font-family: var(--font-body);
}

a {
  color: initial;
  text-decoration: none;
}

a:visited {
  color: initial;
}

ul {
  list-style-type: none;
}

p {
  max-width: 75ch;
}

.header-wrapper {
  padding: 15px 15%;
  margin-bottom: 15px;
  border-bottom: 1px solid black;
}
.header-wrapper .nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: var(--font-header);
  font-size: var(--fs-standard-large);
}
.header-wrapper .user-avatar {
  width: 25px;
}

.hero-description-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 50px;
}
.hero-description-wrapper .hero-img {
  object-fit: contain;
  transform: rotate(90deg);
  height: 350px;
}
.hero-description-wrapper h1 {
  font-family: var(--font-header);
  font-size: var(--fs-hero);
  font-weight: 400;
  text-align: center;
}

.hero-cta-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  text-align: center;
  margin-bottom: 50px;
}
.hero-cta-wrapper .cta-btn {
  display: inline-block;
  width: fit-content;
  padding: 10px 25px;
  border: 1px solid black;
  transition: all 0.15s ease-in-out;
}
.hero-cta-wrapper .cta-btn:hover {
  transform: scale(1.08);
}
.hero-cta-wrapper .cta-btn:active {
  transform: scale(0.98);
}

.footer-wrapper {
  padding: 15px 15%;
  border-top: solid 1px black;
}

.footer-box-wrapper {
  display: flex;
  gap: 25px;
  align-items: center;
  justify-content: center;
}
.footer-box-wrapper .footer-box {
  height: 25px;
  width: 25px;
  background-color: black;
}
