@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Open+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --fs-standard-small: 0.8rem;
  --fs-standard: 1rem;
  --fs-standard-large: 1.25rem;
  --fs-heading-small: 1.536rem;
  --fs-heading: 1.935rem;
  --fs-heading-large: 2.441rem;
  --fs-hero-small: 3.052rem;
  --fs-hero: 3.815rem;
  --fs-hero-large: 4.768rem;
  --font-header: "Inter", sans-serif;
  --font-body: "Open Sans", sans-serif;
  --c-uno-red: #ed1c23;
  --c-uno-red-shadow: #ab3c3c;
  --c-uno-blue: #006cb9;
  --c-uno-yellow: #f8da27;
  --c-uno-green: #00a539;
}

body {
  background-color: hsl(200, 5%, 89%);
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-header);
}

p {
  font-family: var(--font-body);
}

a {
  color: initial;
  text-decoration: none;
}

a:visited {
  color: initial;
}

ul {
  /* list-style-type: none; */
  float: right;
  margin: 0;
  padding-top: 10px;
  overflow: hidden;
  background-color: #2d2c2c;
  border: 1px solid #322e2e;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9000;
}

.arcade-btn {
  border: none;
  display: block;
  width: fit-content;
  background-color: var(--c-uno-red);
  box-shadow: 0 6px var(--c-uno-red-shadow);
  color: white;
  padding: 10px 25px;
  border-radius: 10px;
  font-family: var(--font-header);
  font-size: var(--fs-heading);
  transition: all 0.15s ease-in-out;
}

.arcade-btn:hover {
  cursor: pointer;
  transform: translateY(3px);
  box-shadow: 0 3px var(--c-uno-red-shadow);
}

.arcade-btn:active {
  transform: translateY(6px);
  box-shadow: none;
}

.landing-wrapper {
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rules-wrapper {
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.special-cards-rules {
  color: black;
}

.carousel {
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
}

.slides {
  max-width: 100%;
  position: center;
  align-items: center;
  display: flex;
  overflow-x: scroll;
  scrollbar-width: none;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.slides::-webkit-scrollbar {
  display: none;
}

.slides-item {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  line-height: 1.6;
  font-size: inherit;
  min-height: 80vh;
  max-width: 100vw;
  margin: 0 1rem;
  position: relative;
  scroll-snap-align: start;
  transform: scale(1);
  transform-origin: center center;
  transition: transform .5s;
  width: 100%;
}

.carousel__nav {
  padding: 1.25rem .5rem;
}

.slider-nav {
  align-items: center;
  background-color: rgb(70, 106, 138);
  border-radius: 50%;
  margin: 1vh;
  color: #000;
  display: inline-flex;
  height: 1.5rem;
  justify-content: center;
  padding: .5rem;
  position: relative;
  text-decoration: none;
  width: 1.5rem;
}

.slider-nav:hover,
.slider-nav:active {
  background-color: rgb(45, 178, 195);
  color: #fff;
}

.slide-1 {
  background-color: #A5AAAB;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide-2 {
  background-color: #9c98ab;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide-3 {
  background-color: #D2A295;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel__skip-link {
  height: 1px;
  overflow: hidden;
  position: absolute;
  top: auto;
  width: 1px;
}

.carousel__skip-link:focus {
  align-items: center;
  background-color: #000;
  color: #fff;
  display: flex;
  font-size: 30px;
  /* height: 680px; */
  justify-content: center;
  opacity: .8;
  text-decoration: none;
  width: 100%;
  z-index: 1;
}

.about-wrapper {
  margin-top: 5vh;
  overflow-x: hidden;
  overflow-y: hidden;
  min-height: 100vh;
  box-sizing: border-box;
  background-color: rgb(96, 104, 112);
  color: white;
  padding-bottom: 5%;

}

.about-wrapper, .about-wrapper:before, .about-wrapper:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  background-color: #4c5259;
  opacity: 0.99;
  border-radius: 15px 15px 15px 15px;
  -webkit-box-shadow: 5px 5px 15px rgba(0,0,0,0.4);
  -moz-box-shadow: 5px 5px 15px rgba(0,0,0,0.4);
  box-shadow: 5px 5px 15px rgba(0,0,0,0.4);
  margin: 20px;
  padding: 33px;
  min-height: 125vh;
  max-height: 125vh;
  min-width: 25vw;
  overflow-x: auto;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #555d6e;
  color: white;
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: rgba(245, 245, 245, 0.664);
}

.team-header {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

li {
  display: block;
  text-align: center;
  padding: 14px 20px;
  padding-bottom: 25px;
  text-decoration: none;
  color: white;
}

.nav {
  display: flex;
  font-size: 18px;
  gap: 10px;
  float:right
}

.nav .about,
.nav .log {
  position: relative;
  color: white;
}

.nav .about::before,
.nav .log::before {
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: var(--c-uno-blue);
  bottom: 0;
  left: 0;
  content: "";
  transform-origin: left;
  transition: all 0.05s ease-in-out;
  transform: translateY(125%) scaleX(0);
}

.nav .about:hover,
.nav .log:hover {
  cursor: pointer;
}

.nav .about:hover::before,
.nav .log:hover::before {
  transform: translateY(125%) scaleX(1);
}

.nav .register {
  position: relative;
  padding: 10px 25px;
  border: 2px solid var(--c-uno-red);
  margin-right: 0;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
  color: white;
}

.nav .dashboard {
  position: relative;
  padding: 10px 25px;
  border: 2px solid var(--c-uno-blue);
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
  color: white;
}

.nav .register::before {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: var(--c-uno-red);
  content: "";
  z-index: -1;
  transform: scaleX(0);
  transform-origin: left;
  transition: all 0.2s ease-in-out;
}

.nav .dashboard::before {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: var(--c-uno-blue);
  content: "";
  z-index: -1;
  transform: scaleX(0);
  transform-origin: left;
  transition: all 0.2s ease-in-out;
}

.nav .register:hover {
  color: white;
  cursor: pointer;
}

.nav .dashboard:hover {
  color: white;
  cursor: pointer;
}

.nav .register:hover::before {
  transform: scaleX(1);
}

.nav .dashboard:hover::before {
  transform: scaleX(1);
}

.nav .register:active {
  border-color: var(--c-uno-red);
}

.nav .dashboard:active {
  border-color: var(--c-uno-blue);
}

.nav .register:active::before {
  background-color: var(--c-uno-red);
}

.nav .dashboard:active::before {
  background-color: var(--c-uno-blue);
}

.hero-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.hero-box .hero-logo {
  width: clamp(300px, 35vw, 350px);
}

.hero-box a {
  display: block;
  width: fit-content;
  background-color: var(--c-uno-red);
  box-shadow: 0 6px var(--c-uno-red-shadow);
  color: white;
  padding: 10px 25px;
  border-radius: 10px;
  font-family: var(--font-header);
  font-size: var(--fs-heading);
  transition: all 0.15s ease-in-out;
}

.hero-box a:hover {
  cursor: pointer;
  transform: translateY(3px);
  box-shadow: 0 3px var(--c-uno-red-shadow);
}

.hero-box a:active {
  transform: translateY(6px);
  box-shadow: none;
}

.blue-circle,
.green-circle,
.yellow-circle {
  position: absolute;
  height: 45vw;
  width: 45vw;
  max-height: 550px;
  max-width: 550px;
  border-radius: 50%;
}

.blue-circle {
  bottom: 0;
  left: 0;
  transform: translate(-50%, 50%);
  background-color: var(--c-uno-blue);
}

.green-circle {
  bottom: 0;
  right: 0;
  transform: translate(50%, 50%);
  background-color: var(--c-uno-green);
}

.yellow-circle {
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  background-color: var(--c-uno-red);
}

.blue-circle.offsettwo{
  top:0;
  transform: translate(-50%, -50%);
}

.green-circle.offsettwo{
  top:0;
  right: 0;
  transform: translate(50%, -50%);
}