@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Open+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --fs-standard-small: 0.8rem;
  --fs-standard: 1rem;
  --fs-standard-large: 1.25rem;
  --fs-heading-small: 1.536rem;
  --fs-heading: 1.935rem;
  --fs-heading-large: 2.441rem;
  --fs-hero-small: 3.052rem;
  --fs-hero: 3.815rem;
  --fs-hero-large: 4.768rem;
  --font-header: "Inter", sans-serif;
  --font-body: "Open Sans", sans-serif;
  --c-uno-red: #ed1c23;
  --c-uno-red-shadow: #ab3c3c;
  --c-uno-blue: #006cb9;
  --c-uno-yellow: #f8da27;
  --c-uno-green: #00a539;
}

body {
  background-color: #DFCFBE;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-header);
}

p {
  font-family: var(--font-body);
}

a {
  color: initial;
  text-decoration: none;
}

a:visited {
  color: initial;
}

ul {
  /* list-style-type: none; */
  float: right;
  margin: 0;
  padding-top: 10px;
  overflow: hidden;
  background-color: #2d2c2c;
  border: 1px solid #322e2e;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9000;
}

.arcade-btn {
  border: none;
  display: block;
  width: fit-content;
  background-color: var(--c-uno-red);
  box-shadow: 0 6px var(--c-uno-red-shadow);
  color: white;
  padding: 10px 25px;
  border-radius: 10px;
  font-family: var(--font-header);
  font-size: var(--fs-heading);
  transition: all 0.15s ease-in-out;
}

.arcade-btn:hover {
  cursor: pointer;
  transform: translateY(3px);
  box-shadow: 0 3px var(--c-uno-red-shadow);
}

.arcade-btn:active {
  transform: translateY(6px);
  box-shadow: none;
}

.landing-wrapper {
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

li {
  display: block;
  text-align: center;
  padding: 14px 20px;
  padding-bottom: 25px;
  text-decoration: none;
  color: white;
}

.nav {
  display: flex;
  font-size: 18px;
  gap: 10px;
  float:right
}

.nav .about,
.nav .log {
  position: relative;
  color: white;
}

.nav .about::before,
.nav .log::before {
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: var(--c-uno-blue);
  bottom: 0;
  left: 0;
  content: "";
  transform-origin: left;
  transition: all 0.05s ease-in-out;
  transform: translateY(125%) scaleX(0);
}

.nav .about:hover,
.nav .log:hover {
  cursor: pointer;
}

.nav .about:hover::before,
.nav .log:hover::before {
  transform: translateY(125%) scaleX(1);
}

.nav .register {
  position: relative;
  padding: 10px 25px;
  border: 2px solid var(--c-uno-red);
  margin-right: 0;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
  color: white;
}

.nav .dashboard {
  position: relative;
  padding: 10px 25px;
  border: 2px solid var(--c-uno-blue);
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
  color: white;
}

.nav .register::before {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: var(--c-uno-red);
  content: "";
  z-index: -1;
  transform: scaleX(0);
  transform-origin: left;
  transition: all 0.2s ease-in-out;
}

.nav .dashboard::before {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: var(--c-uno-blue);
  content: "";
  z-index: -1;
  transform: scaleX(0);
  transform-origin: left;
  transition: all 0.2s ease-in-out;
}

.nav .register:hover {
  color: white;
  cursor: pointer;
}

.nav .dashboard:hover {
  color: white;
  cursor: pointer;
}

.nav .register:hover::before {
  transform: scaleX(1);
}

.nav .dashboard:hover::before {
  transform: scaleX(1);
}

.nav .register:active {
  border-color: var(--c-uno-red);
}

.nav .dashboard:active {
  border-color: var(--c-uno-blue);
}

.nav .register:active::before {
  background-color: var(--c-uno-red);
}

.nav .dashboard:active::before {
  background-color: var(--c-uno-blue);
}

.hero-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.hero-box .hero-logo {
  width: clamp(300px, 35vw, 350px);
}

.hero-box a {
  display: block;
  width: fit-content;
  background-color: var(--c-uno-red);
  box-shadow: 0 6px var(--c-uno-red-shadow);
  color: white;
  padding: 10px 25px;
  border-radius: 10px;
  font-family: var(--font-header);
  font-size: var(--fs-heading);
  transition: all 0.15s ease-in-out;
}

.hero-box a:hover {
  cursor: pointer;
  transform: translateY(3px);
  box-shadow: 0 3px var(--c-uno-red-shadow);
}

.hero-box a:active {
  transform: translateY(6px);
  box-shadow: none;
}

.blue-circle,
.green-circle,
.yellow-circle {
  position: absolute;
  height: 45vw;
  width: 45vw;
  max-height: 550px;
  max-width: 550px;
  border-radius: 50%;
}

.blue-circle {
  bottom: 0;
  left: 0;
  transform: translate(-50%, 50%);
  background-color: var(--c-uno-blue);
}

.green-circle {
  bottom: 0;
  right: 0;
  transform: translate(50%, 50%);
  background-color: var(--c-uno-green);
}

.yellow-circle {
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  background-color: var(--c-uno-red);
}

.blue-circle.offsettwo{
  top:0;
  transform: translate(-50%, -50%);
}

.green-circle.offsettwo{
  top:0;
  right: 0;
  transform: translate(50%, -50%);
}