:root {
    --baseColor: white;
    --htmlFontSize: 18px;

    --bodyBackgroundColor: hsl(200, 5%, 89%);
    --bodyColor: var(--baseColor);
    --bodyFontFamily: 'Open Sans';
    --bodyFontFamilyFallback: sans-serif;
    --bodyFontSize: 1rem;
    --bodyFontWeight: 400;
    --bodyLineHeight: 1.5;

    --formGap: 0.875rem;
    --iconFill: var(--baseColor);

    --borderRadus: 0.25rem;
    --buttonTextColor: #eee;

    --inputBackgroundColor: #3b4148;
    --inputHoverBackgroundColor: #434a52;

    --inputLabelBackgroundColor: #363b41;

    --buttonBackgroundColor: #d14c4c;
    --buttonTextColor: #eee;
    --buttonHoverBackgroundColor: #ef383e;
}

html {
    font-size: var(--htmlFontSize);
}

body {
    z-index: 900;
    width: fill;
    background-color: var(--bodyBackgroundColor);
    color: black;
    font-family: var(--bodyFontFamily), var(--bodyFontFamilyFallback);
    font-size: var(--bodyFontSize);
    font-weight: var(--bodyFontWeight);
    line-height: var(--bodyLineHeight);
    padding-top: 10%;
    padding-bottom: 3%;
    overflow: auto;
}

.grid {
    position: absolute;
    inline-size: 110%;
    margin-inline: auto;
    max-inline-size: 22rem;
    position: inherit;
    padding-right: 6vh;
    min-width: 500px;
    background-color: #4c5259;
    opacity: 1;
    border-radius: 15px 15px 15px 15px;
    -webkit-box-shadow: 5px 5px 15px rgba(0,0,0,0.4);
    -moz-box-shadow: 5px 5px 15px rgba(0,0,0,0.4);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.4);
    overflow: auto;
}
    
.hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

h1 {
    text-align: center;
    color: inherit;
    font-family: inherit;
    font-weight: bolder;
    font-size: 260%;
    padding-bottom: 3%;
}

h2 {
    text-align: center;
    color: whitesmoke;
    font-family: inherit;
    font-weight: bolder;
    padding-top: 5%;
    padding-left: 10%;
    font-size: 200%;
    padding-bottom: 3%;
}

.join-lobby {
    align-items: center;
    align-content: center;
    text-align: center;
}  

.icons {
    display: none;
}
    
.icon {
    block-size: 1em;
    display: inline-block;
    fill: var(--iconFill);
    inline-size: 1em;
    font-size: larger;
    vertical-align: middle;
}
     
input {
    background-image: none;
    border: 0;
    color: inherit;
    font: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    transition: background-color 0.3s;
}

p {
    margin-block: 1rem;
    font-weight: bolder;
}

.game-data {
    position: inherit;
    color: hsl(0, 0%, 100%);
    /* width: 80%; */
    align-self: center;
    height: 700px;
    min-width: 500px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 30px;
    overflow-y: auto;
    background-color: #4c5259;
    opacity: 0.99;
    border-radius: 15px 15px 15px 15px;
    -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
}

.search-wrapper {
    position: relative;
    display: flex;
    min-width: 100px;
}

.search {
    border: 2.5px solid #4c5259;
    width: 60%;
    position: relative;
    justify-content: center;
    font-size: medium;
    margin-bottom: 10px;
    height: 2rem;
    background-color: #f5f5f5;
    outline: 0;

    margin-right: 10px;
    padding: 0 10px 0 10px;
}

.search:hover,
.search:focus {
    border: 3px solid #377973;
    background-color: white;
}

@media only screen and (max-width: 60%) {
    .search {
        padding: 0 5px 0 5px;
    }
}

/* Button Specific Styling */
.submit:hover,
.cancel:hover,
.join-game:hover,
.search-button:hover {
    cursor: pointer;
}

.search-button:focus,
.join-game:focus,
.submit:focus,
.cancel:focus,
.search-button:hover,
.join-game:hover,
.submit:hover,
.cancel:hover {
    background-color: var(--buttonHoverBackgroundColor);
}

.search-button {
    background-image: none;
    border: 0;
    color: inherit;
    font: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    transition: background-color 0.3s;
    inline-size: auto;
    width: 150px;
    flex: 1;
    color: var(--buttonTextColor);
    border-radius: var(--borderRadus);
    padding: 1rem;
    background-color: var(--buttonBackgroundColor);
    color: var(--buttonTextColor);
    font-weight: 700;
    text-transform: uppercase;
}

.join-game {
    background-image: none;
    border: 0;
    color: inherit;
    font: inherit;
    margin: 0;
    outline: 0;
    padding: 0.5rem;
    transition: background-color 0.3s;
    inline-size: auto;
    width: 20%;
    flex: 1;
    color: var(--buttonTextColor);
    border-radius: var(--borderRadus);
    background-color: var(--buttonBackgroundColor);
    color: var(--buttonTextColor);
    font-weight: 700;
    text-transform: uppercase;
}
/* End of Button Specific Styling */

/* Popup Form Styling */
.lobby label,
.lobby input {
    border-radius: var(--borderRadus);
    padding: 1rem;
}

.lobby label {
    background-color: var(--inputLabelBackgroundColor);
    color: white;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    padding-inline: 1.25rem;
}

.lobby input[type="text"] {
    background-color: var(--inputBackgroundColor);
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.lobby input[type="text"]:focus,
.lobby input[type="text"]:hover {
    background-color: var(--inputHoverBackgroundColor);
}

.submit {
    background-color: rgb(37, 123, 37);
    color:white;
    font-weight: 700;
    text-transform: uppercase;
    padding: 12px;
    margin-right: 3%
}

.cancel {
    background-color: var(--buttonBackgroundColor);
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 3%
}

.submit:focus,
.submit:hover {
    background-color: rgb(55, 168, 55);
}

.cancel:focus,
.cancel:hover {
    background-color: var(--buttonHoverBackgroundColor);
}

.submit,
.cancel {
    inline-size: 80%;
}

.form {
    display: grid;
    justify-content: center;
    border-radius: 10px 10px 10px 10px;
    padding-bottom: 50px;
    width: 100%;
    gap: var(--formGap);
}

.form input[type="text"] {
    inline-size: 100%;
    color:hsl(0, 0%, 100%)
}

.lobby-wrapper {
    display: flex;
}

.lobby-input {
    flex: 1;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 10%;
    vertical-align: center;  
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    margin: auto;
    opacity: 1;
    min-width: 500px;
    background-color: rgb(6, 6, 6);
    border-radius: 15px 15px 15px 15px;
    -webkit-box-shadow: 5px 5px 15px rgba(0,0,0,0.4);
    -moz-box-shadow: 5px 5px 15px rgba(0,0,0,0.4);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.4);
    width: 50%;
}

.close {
    position: relative;
    color: var(--buttonBackgroundColor);
    float: right;
    margin-right: 2rem;
    font-size: 40px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: var(--buttonHoverBackgroundColor);
    text-decoration: none;
    cursor: pointer;
}
/* End of Popup Form Styling */