:root {
    --fs-standard-small: 0.8rem;
    --fs-standard: 1rem;
    --fs-standard-large: 1.25rem;
    --fs-heading-small: 1.536rem;
    --fs-heading: 1.935rem;
    --fs-heading-large: 2.441rem;
    --fs-hero-small: 3.052rem;
    --fs-hero: 3.815rem;
    --fs-hero-large: 4.768rem;
    --font-header: "Inter", sans-serif;
    --font-body: "Open Sans", sans-serif;
}  

body {
    min-height: 100vh;    
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#register{
    width: 400px;
    height: 400px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    outline: solid;

}

#registerTitle{
    font-size: var(--fs-heading);
    font-family: var(--font-header);

    padding-bottom: 10px;
}

#registerForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap:15px;
}

#registerForm input[type=text],input[type=password] {
    width: 240px;
    height: 50px;
    
    border-radius: 5px;
    padding: 5px;
    font-size: var(--fs-standard);
    font-family: var(--font-body);
}

#registerForm button {
    font-size: var(--fs-standard-large);
}

.login-span {
    display: block;
}
.login-link:link, .login-link:visited {
    display: block;
    width: fit-content;
    margin: auto;
    color: var(--c-uno-blue);
}