@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --fs-standard-small: 0.8rem;
    --fs-standard: 1rem;
    --fs-standard-large: 1.25rem;

    --fs-heading-small: 1.536rem;
    --fs-heading: 1.935rem;
    --fs-heading-large: 2.441rem;

    --fs-hero-small: 3.052rem;
    --fs-hero: 3.815rem;
    --fs-hero-large: 4.768rem;

    --font-header: 'Inter', sans-serif;
    --font-body: 'Open Sans', sans-serif;

    --c-uno-red:#ed1c23;
    --c-uno-red-shadow: #ab3c3c;
    --c-uno-blue: #006cb9;
    --c-uno-yellow: #f8da27;
    --c-uno-green: #00a539;

    --c-card-red: #ff5555;
    --c-card-yellow: #ffaa00;
    --c-card-green: #55aa55;
    --c-card-blue: #5555ff;
}

body {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-header);
}

p {
    font-family: var(--font-body);
}

a {
    color: initial;
    text-decoration: none;
}

a:visited {
    color: initial;
}

ul {
    list-style-type: none;
}

.arcade-btn{
    border: none;

    display: block;
    width: fit-content;
    background-color: var(--c-uno-red);
    box-shadow: 0 6px var(--c-uno-red-shadow);

    color: white;
    padding: 10px 25px;
    border-radius: 10px;

    font-family: var(--font-header);
    font-size: var(--fs-heading);

    transition: all 0.15s ease-in-out;
}

.arcade-btn:hover{
    cursor: pointer;
    transform: translateY(3px);
    box-shadow: 0 3px var(--c-uno-red-shadow);
}

.arcade-btn:active{
    transform: translateY(6px);
    box-shadow: none;
}